@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-color: #3F85D1;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center;

    margin-top: 20px;
}

section {

    width: 500px;

    background-color: white;
    box-shadow: 4px 5px 12px rgba(0, 0, 0, 0.500);

    padding: 15px;
    border-radius: 20px;
    margin: auto;
}

section > div{

    margin: 20px 0px 20px 0px;
}

section > div > label {

    font-size: 18px;
}


section > div > button {

    display: inline;
}

select{

    height: 150px;
    width: 200px;
}

select > option{

    color: black;
}

button{
    
    display: block;    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;

    margin-top: 20px;
}